/*extend about.css feature*/

@import url("about.css");



@@font-face {
  font-family: 'Cedarville Cursive', cursive;
}
@@font-face{
  font-family: 'Marcellus', serif;

}

@@font-face {
  font-family: 'Caveat', cursive;
}

/* add animation effect -> when reloading the screen */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



body{
  opacity: 1;
   -webkit-animation: fadein 2s;
  background-color:  #fcf0f3;
  overflow-x: hidden;
  opacity: 1;
   -webkit-animation: fadein 2s;
   height:100%;
   width:100%;
   margin-left:0
}






.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

.container{
  position: relative;

  white-space: normal;

}
header{
position:relative;
height:270px;



}


header h1.title{

  left:0px;
  top:40px;
   /*padding-left: 20px;*/
  font-size: 60px;
   font-family: 'Raleway', sans-serif;
   /*adding decoration pink margin header*/
   color: #E87777;
   margin: 0.8em;
   border-bottom-width:2.0em;
   border-bottom-style:solid;
   border-bottom-color:#EEC0C6;

}


header h3.slogan{
  position:relative;
  bottom: 150px;
  left: 200px;
  font-family:  'Caveat', cursive;
  font-size:50px;
  color:white;

}


.social_media{

  right: 130px;
  position: absolute;
  top:-30px;




}



.media_pic{
  margin: 10px;
  width:35px;
  height:25px;
  width: 100%;
  float:left;
  text-decoration: none;


}

.tab{
  position: absolute;
  right: 350px;
  top:-30px;
   display: incline-block;


}




ul li { display: inline;
  margin-right: 20px;
  height:100%;

  width: 100%; }





div.tab ul li > a:link not(:last-child) {
  margin-right: 10px;
  width: 100%;

}


}

 div.tab ul li > a:link{
  background-color: #FFFFF;

  position:relative;
  /*border-radius: 0.5rem;*/
  color: #0c121c;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none #0c121c solid;


  user-select: none;

  touch-action: manipulation;

}


/* CSS */
  div.tab ul li> a:link {
  background-color: #fff;
  /*border: 0 solid #e2e8f0;*/
  position:relative;
    /*border-radius: 0.5rem;*/
  color: "black";
  cursor: pointer;
  display: inline-block;

  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;

  /*transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 185, 0.25);*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

 div.tab ul li > a:hover {
  background-color: #fac4c0;
  color: #fff;
}

@media (min-width: 768px) {
  div.tab ul li > a:link{
    font-size: 1.3rem;
    color:"black";
    font-family: 'Raleway', sans-serif;
    padding: 1rem 0.9rem;
  }
}


.logo{
  position: absolute;
  left: 20px;
  height:100%;
  width:100%;
  top:-240px;

  font-variant-position: normal;
}



.recipe_label {
  font-family: 'Raleway', cursive;
  position:relative;
  display: incline-block;

  top:850px;
  font-size: 40px;
}

.recipe_description{
  display: block;
  margin-bottom: 30px;
  font-family: 'Marcellus', serif;
}

.bakery_logo{
 position: relative;
 top:850px;
 height:30px;
 display:incline-block;


}

.small_logo{
  display: flex;
  float: left;
  left:450px;
  text-align: justify;
  height:50px;
  position: relative;
  top:290px;



}



/* scroll bar styling */

.newest_recipe_scroll{
  position: relative;
  top: 880px;
  gap: var(--size-3);
  height:400px;
  width: auto;
  left:inherit;
  border-radius: 10px;
  display: flex;
  background-color: #FFFFFF;
  opacity: 90%;
  overflow:scroll;
  overflow-y: hidden;
  overscroll-behavior-incline: contain;
  scroll-behavior: smooth;


  /*
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-incline: contain;
  scroll-behavior: smooth;
  */



}









.newest_recipe_scroll > div{


 flex: 0 1 auto;
 position:relative;
 top:60px;
 left:inherit;


 margin-right: 200px;

}

/*scroll view */

.recipe {
  padding:  var(--size-3);
  border-radius: var(--radius-2);
  width:300px;
  height: 200px;


}

.recipe:hover{
  background-color: #FFFFF;
  opacity: 80%;
}






.logo2{
  position:relative;
  height:100%;
  border-color: #ffb6c1;
  left: 20px;
  width:100%;
  top:80rem;

}



.about_me{
  position: relative;
  top:150rem;
  width: inherit;
  height:400px;
  left:inherit;
  border-radius: 10px;
  display: block;
  background-color: #FFFFFF;
  opacity:.9;


}



/* about me page styling  float makes elements stack horizontally*/
.about_info{
  position: relative;
  font-size:50px;
  bottom:600px;
  border-color: #FFFFFF;
  opacity: 30%;
  bottom: 250px;
  border-radius: 2rem;
  height:inherit;
  width:100rem;
  padding-left: 300px;
  float:left;
  text-align: left;
}

.more_info{
  font-size: 25px;

  display:block;
  bottom: 560px;
  padding-left: 350px;
  left: inherit;


  float: left;
  width: 300px;
  text-align: left;
  position: relative;
  word-wrap: break-word;




}




.self-img{
  position: relative;
  size: 40%;
  display:incline;
  height:70%;
  top:15%;
  left: 60%;
  border-radius: 30px;
  float:left;
  text-align: right;

}


.about_info{
  font-family: "Raleway", cursive;
  left: 0px;


}

.more_info{
  display:block;
  font-family: "Raleway", cursive;


}





.logo3{
  position: absolute;
  height:100%;
  width:100%;
  left: 20px;
  top: 150rem;
}




.label_big{
  font-family: 'Raleway', sans-serif;
  height:100%;
  width:100%;
  top:300px;
  padding-left:50px;
  position:absolute;
  font-size: 30px;
  width:500px;
  height:50px;

}

.label_scroll{
  position: relative;
  font-family: 'Caveat', cursive;
  font-size: 16px;
}



.logo_pic{
  position: absolute;
  height:400px;
  width:600px;
  top:220px;
  right: 120px;
  border-radius: 700px;


}


.logo_pic:not(:first-child){
 justify-content: space-between;
}

/* have to override -- space not enough*/
.logo3{
top: 180rem;
}



.more_link{
  position:relative;

  color: #30302f;
  height: inherit;
  width:30px;
  font-family:'Caveat', cursive;
  top:450px;
  left:250px;
  font-size:25px;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 8px;

}

.more_about{
  position:relative;
  color: #30302f;
  height: inherit;
  width:30px;
  top:300px;
  font-size: 25px;
  left:350px;
  text-decoration:None;
  font-family:'Caveat', cursive;
}

.more_about:hover{
  background-color: #E6E6FA;
  border-radius: 8px;

}



.logo1> a:link:hover, a:visited:hover{
  color:#FFFFFF;
  background-color: #f5d9c1;

  user-select:contain;

}








.media_pic{
  width:30px;
  text-decoration: none;

  height:30px;
}




.end_screen{
  position:relative;
  width:none;
  align-items: center;

  top: 190rem;
  display: block;
  height: 300px;
}
.screen_container{
  position:relative;
  text-align: right;
  top:170px;
  background-color: #EEC0C6;
  height:80px;

}

.links_container{
  position: absolute;
  display: flex;
  font-family: Caveat, cursive;
  margin-top: 20px;
  margin-left: 100px;


}
 /*end screen links*/

.end{
  display: flex;
  text-decoration: none;
  margin-left: 20px;





}

.copy_right{
  position: relative;
  display: flex;
  margin-top: 0px;
  left: 70rem;

}
