{% extends 'main.html' %}
{%block content%}

<div class = "my_info">
  <header>
  <h1 class="about_page">
  <br>
  <div class = "about_me_text">
  About Me:
  </div>



     </br>





   Hi, I am Bethany, a self-taught cooking amaturist who started my baking journey in YouTube. I enjoy share some of my favorite baking recipe to you :)

  </h1>

  <div class = "my_logo">
     <img alt="can't find img" class="face_img" img="" src="http://127.0.0.1:5000/static/my_img2.jpeg"/>


  </div>





  </header>


      </div>

   </body>
  </html>



  {%endblock%}
